{
    "singleQuote": true,
    "trailingComma": "es5",
    "printWidth": 100,
    "tabWidth": 2,
    "semi": true,
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "auto",
    "importOrder": [
      "^(react/(.*)$)|^(react$)",
      "^(next/(.*)$)|^(next$)",
      "^@/lib/(.*)$",
      "^@/types/(.*)$",
      "^@/config/(.*)$",
      "^@/util/(.*)$",
      "^@/(.*)$",
      "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "plugins": [
      "@trivago/prettier-plugin-sort-imports"
    ]
  }